public class astonTest21 {
    public static void main(String args[]) {
      int a=10;
      int b=2;
      int c=a+b;
      int d=a-b;
      int e=a*b;
      int f=a/b;
      System.out.println(c);
      System.out.println(d);
      System.out.println(e);
      System.out.println(f);
            if (a > b) {
      System.out.println("a>b");
} else if (a < b) {
    System.out.println("a<b");
} else {
    System.out.println("a=b");
}
}
}



public class astonTest22 {
    public static void main(String args[]) {
     String str1 = "Здравствуйте, Тимур";
String str2 = "Здравствуйте, Тимур";
if (str1.equals(str2)) {
System.out.println("Строки идентичны");
} else {
System.out.println("Строки неидентичны");
}
}
}


public class astonTest23 {
    public static void main(String args[]) {
      int[] arr = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10};

for (int number : arr)
        if (number % 2 == 0)
	  	System.out.println(number);
  }
}
